.agrements-wrap {
  .content {
    margin-bottom: 34px;

    p {
      @include subtitle;
    }
  }

  .btn-outline-light {
    text-transform: none;
  }

  .wpcf7-form {
    .wpcf7-textarea {
      height: 124px;
    }

    .wpcf7-submit {
      padding-left: 29px;
      padding-right: 29px;
    }
  }

  .additionnel {
    margin-bottom: 16px;

    p {
      font-weight: 100;
    }
  }
}

.logos-carousel {
  margin-bottom: 30px;

  .owl-item {
    img {
      width: initial;
    }
  }

  .owl-stage {
    align-items: center;
    display: flex;
  }
}

.devenez-partenaire {
  .subtitle {
    margin-bottom: 13px;
  }
}
