.agrements-wrap {
  .content {
    margin-bottom: 34px;

    p {
      @include subtitle;
    }
  }

  .btn-outline-light {
    font-size: 10px;
    text-transform: none;

    &.jet {
      font-size: 12px;
      padding: 10px 14px;
    }
  }

  .wpcf7-form {
    .wpcf7-textarea {
      height: 124px;
    }

    .wpcf7-submit {
      padding-left: 29px;
      padding-right: 29px;
    }
  }

  .additionnel {
    margin-bottom: 16px;

    p {
      font-weight: 100;
    }
  }

  .jet {
    &::after {
      background: url('../images/play-15.png') no-repeat center;
      content: '';
      // display: inline-block;
      height: 15px;
      margin-left: 8px;
      // vertical-align: middle;
      width: 15px;
    }
  }

  @include media-breakpoint-down(lg) {
    .additionnel {
      margin-bottom: 28px;
    }

    .content {
      p {
        font-size: 13px;
      }
    }

    .btn-outline-light {
      font-size: 11.26px;
      padding-bottom: 8px;
      padding-top: 8px;
    }

    .jet {
      &::after {
        background-image: url('../images/play-21.png');
        height: 21px;
        margin-right: 7px;
        width: 21px;
      }
    }

    .wpcf7-form {
      .buttons {
        margin-top: 30px;
      }

      .wpcf7-submit {
        font-size: 13px;
        padding-bottom: 4px;
        padding-top: 4px;
        text-transform: uppercase;
      }
    }
  }
}

.logos-carousel {
  margin-bottom: 30px;

  .owl-item {
    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }
  }

  .logo-item {
    height: 52px;

    &:hover {
      .grayscale {
        filter: grayscale(0);
      }
    }
  }
}

.grayscale {
  filter: grayscale(1);
  transition: .2s;
}

.devenez-partenaire {
  .subtitle {
    margin-bottom: 13px;
  }
}
