.contact-wrap {
  iframe {
    height: 200px;
    width: 100%;
  }

  .map {
    height: 200px;
    margin-top: 17px;
  }

  .horaires,
  address {
    line-height: 16px;
  }

  .horaires {
    // line-height: 12px;
    margin-top: 8px;

    strong {
      color: $color-blue-light;
    }
  }

  address {
    // line-height: 12px;

    strong {
      font-size: 12px;
      font-weight: 700;
    }

    a {
      color: $color-blue-light;
      font-size: 14px;
    }

    p {
      margin-bottom: 0;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  .wpcf7 {
    margin-bottom: 44px;
  }

  @include media-breakpoint-up(xl) {
    .buttons {
      .btn {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
      
      .left,
      .right {
        flex: 1;
      }

      .right {
        margin-left: 20px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .content {
      margin-bottom: 0;

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .map {
      height: 357px;
      margin-top: 74px;
    }

    .horaires {
      font-size: 15px;
      line-height: 21px;
      margin-top: 35px;
    }

    address {
      font-size: 13px;
      line-height: 21px;
      margin-top: 36px;

      p {
        &:first-child {
          font-weight: 400;
        }
      }

      strong,
      a {
        font-size: 18px;
      }
    }

    .buttons {
      margin-top: 38px;

      .right {
        margin-left: 24px;
      }
    }
  }
}
