.histoires {
  figure {
    margin-bottom: 0;
    overflow: hidden;
  }

  figcaption {
    font-weight: 100;
    line-height: 18px;
    margin-top: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 13px;
      margin-top: 26px;
    }

    @media (max-width: 500px) {
      padding: 0 65px;
    }
  }
}

.galerie-wrap {
  .owl-dots {
    margin-top: 23px;
    transition: .3s;
    z-index: 9;
  }

  .owl-dot {
    margin-bottom: 8px;

    &.bullet {
      .btn {
        padding-left: 8px;
        padding-right: 8px;

        &::before {
          background-color: rgba($white, .2);
          border-radius: 50%;
          content: '';
          display: block;
          height: 8px;
          width: 8px;
        }
      }

      &.active .btn::before {
        background-color: rgba($white, .8);
      }
    }

    &:not(.bullet) {
      .btn {
        color: rgba($color-text, .2);
        font-family: $font-footer;
        font-weight: 300;
        height: 30px;
        line-height: 0.8;
        padding: 0 34px;

        &::after {
          background-color: rgba($color-text, .2);
          content: '';
          display: block;
          height: 3px;
          margin: 3px auto 0;
          width: 25px;
        }
      }

      &.active,
      &:hover {
        .btn {
          color: $color-text;

          &::after {
            background-color: $color-blue-light;
          }
        }
      }

      &:not(:first-of-type) {
        border-left: 1px solid rgba($color-text, .2);
      }

      &:first-of-type {
        .btn {
          padding-left: 5px;
        }
      }

      &:last-of-type {
        .btn {
          padding-right: 5px;
        }
      }
    }
  }

  .dots-container {
    z-index: 9;
  }

  @include media-breakpoint-down(lg) {
    .owl-dots {
      margin-top: 26px;
    }

    .owl-dot {
      width: 96px;

      .btn {
        font-size: 14px;

        &::after {
          margin: -1px auto 0;
        }
      }

      &:first-of-type,
      &:last-of-type {
        .btn {
          padding-left: 34px;
          padding-right: 34px;
        }
      }
    }
  }
}

.galerie-carousel-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 542px;
  position: relative;

  .date {
    color: rgba($color-text, .3);
    font-size: 74.22px;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 18px;
  }

  .titre {
    color: $color-blue-light;
    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    margin-top: -14px;
    position: relative;

    &::after {
      border-top: 1px solid $color-text;
      bottom: -10px;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 129px;
    }
  }

  .header {
    @include media-breakpoint-up(xl) {
      position: absolute;
      left: -194px;
      width: 180px;
      text-align: right;
      top: -11px;
    }

    > div {
      flex-direction: column;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  @include media-breakpoint-down(lg) {
    .item-header {
      margin-bottom: 6px;
    }
    
    .date {
      margin-bottom: 27px;
      margin-top: -9px;

      &.long {
        font-size: 37px;
        margin-bottom: 22px;
        margin-top: -4px;
      }
    }

    .titre {
      font-size: 20px;
      margin-top: 0;
      height: 71px;

      &::after {
        bottom: inherit;
        left: 0;
        margin-top: 16px;
        position: relative;
      }
    }
  }
}

.histoire-carousel {
  position: relative;
}
