.home {
  .navbar-brand-wrap {
    text-align: center;
  }

  .bottom-widget {
    display: none;
  }

  main {
    background: {
      position: center 38%;
      repeat: no-repeat;
      // size: cover;
    }
  }

  .page-wrapper {
    &:only-of-type {
      margin-bottom: 0;
    }
  }
}

.logo-amc {
  max-width: 137px;
  
  body:not(.home) & {
    max-width: 89px;
  }
}
