//=== Colors
$color-text: #fff !default;
$color-navigation: #fff !default;
$color-blue: #06174d !default;

//=== Fonts
$font-text: "Open Sans", sans-serif;
$font-navigation: "Roboto", sans-serif;
$font-title: "Roboto", sans-serif;

//== Bootstrap
$enable-rounded: false;
$primary: $color-text;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px
);
