//=== Colors
$color-text: #fff !default;
$color-navigation: #fff !default;
$color-rose: #d21e6e !default;

//=== Fonts
$font-text: "Open Sans", sans-serif;
$font-navigation: "Roboto", sans-serif;
$font-title: "Roboto", sans-serif;

//== Bootstrap
$enable-rounded: false;
$primary: $color-rose;
