.footer-wrap {
  // bottom: 0;
  // position: absolute;
  // width: 100%;
  // z-index: 9;
  position: relative;

  .bottom-widget {
    padding: 0 60px;
    // position: absolute;
    // width: 100%;
    // z-index: 9;
    
    ul {
      @include list-unstyled;
      @extend .d-flex;
    }

    li {
      font-weight: 600;

      &::before,
      &:last-of-type::after {
        color: rgba($color-text, .3);
        content: '|';
      }
    }

    a {
      color: rgba($color-text, .3);
      font-family: $font-footer;
      // font-size: 10px;
      margin: 0 8px;
      text-transform: uppercase;

      &:hover {
        color: $color-text;
        transition: color .2s;
      }
    }
  }
}
