.footer-wrap {
  bottom: 0;
  position: fixed;
  z-index: 9;

  .bottom-widget {
    padding-left: 60px;
    
    ul {
      @include list-unstyled;
    }

    li {
      font-weight: 600;

      &::before,
      &::after {
        color: rgba($color-text, .17);
        content: '|';
      }
    }

    a {
      color: rgba($color-text, .17);
      font-family: $font-footer;
      font-size: 10px;
      margin: 0 8px;
      text-transform: uppercase;

      &:hover {
        color: $color-text;
        transition: color .2s;
      }
    }
  }
}
