body {
  background: linear-gradient(to right, #071954 0%, #061547 25%, #06113a 50%, #060f30 75%, #050d2c 100%);
  color: $color-text;
}

a {
  &,
  &:hover {
    text-decoration: none;
  }
}

.content {
  margin-bottom: 18px;
  
  p {
    line-height: 13px;
    text-align: justify;
  }
}

h2 {
  span {
    color: $color-blue-light;
  }
}

.page-wrapper {
  // margin-bottom: 100px;
  position: relative;

  > div {
    &:not(.scroll-down-wrap) {
      padding-top: 163px;
    }
  }

  &.has-background {
    position: relative;

    .background {
      background-position: right center;
      background-repeat: no-repeat;
      content: '';
      height: 100%;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateY(-90px);
      transition: .3s;
      width: percentage(482 / 1170);
    }

    &.in {
      .background {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .scroll-down-wrap {
    // bottom: 12px;
    // left: 0;
    // padding: 0;
    // padding: 0;
    // position: absolute;
    // width: 100%;
    margin-top: 20px;
  }

  &:last-of-type {
    .scroll-down-wrap {
      display: none;
    }
  }
}
