body {
  background-color: $color-blue;
  color: $color-text;
}

a {
  &,
  &:hover {
    text-decoration: none;
  }
}

.content {
  margin-bottom: 18px;
  
  p {
    line-height: 13px;
    text-align: justify;
  }
}

h2 {
  span {
    color: $color-blue-light;
  }
}

.page-wrapper {
  padding-top: 163px;

  &.has-background {
    position: relative;

    .background {
      background-position: right center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: percentage(482 / 1170);
    }
  }
}
