body {
  background: linear-gradient(to right, #071954 0%, #061547 25%, #06113a 50%, #060f30 75%, #050d2c 100%);
  color: $color-text;

  @include media-breakpoint-down(lg) {
    background: #061953;
  }
}

a {
  &,
  &:hover {
    text-decoration: none;
  }
}

.content {
  margin-bottom: 18px;
  
  p {
    line-height: 13px;
    text-align: justify;
  }

  @include media-breakpoint-down(lg) {
    p {
      line-height: 18px;
    }
  }
}

h2 {
  span {
    color: $color-blue-light;
  }
}

.page-wrapper {
  position: relative;

  > div {
    &:not(.scroll-down-wrap) {
      padding-top: 163px;

      @include media-breakpoint-down(lg) {
        padding-top: 146px;
      }
    }
  }

  &.has-background {
    position: relative;

    .background {
      background: {
        position: right center;
        repeat: no-repeat;
      }
      content: '';
      height: 100%;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateY(-90px);
      transition: .3s;
      width: percentage(482 / 1170);

      @include media-breakpoint-down(xs) {
        background-size: cover;
        width: 100%;

        &::before {
          background: linear-gradient(to top, rgba(#072478, .7) 0%, #061953 100%);
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }

    &.in {
      .background {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .scroll-down-wrap {
    margin-top: 20px;
  }

  &:last-of-type {
    .scroll-down-wrap {
      display: none;
    }
  }
}

.full-width {
  position: relative;
}

.loader {
  background-color: $color-blue;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translateY(-20px);
  transition: .3s;
  visibility: hidden;
  z-index: 9;

  &.in {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
