.menu-niveaux {
  height: 100%;
  max-width: 204px;
  position: fixed;
  top: 0;
  transition: transform .4s;
  z-index: 9;

  &.in {
    display: block;
  }

  &.menu-niveau-2 {
    // display: block;
    left: 0;
  }

  &.menu-niveau-1 {
    right: 0;
  }

  .nav,
  .sub-menu {
    @include list-unstyled;
  }

  .nav {
    a {
      text-transform: uppercase;
    }
  }
}

.primary-nav {
  .sub-menu {    
    display: none;
  }
}

.sub-menu,
.nav {
  > li {
    position: relative;

    > a {
      display: block;
      padding: 16px 18px 16px 0;
      transition: color .2s;

      &:hover {
        color: $color-blue-light;
      }
    }

    &::before {
      border-top: 1px solid $color-blue-light;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 65px;
    }
  }
}

.sub-menu {
  > li > a:hover {
    color: $color-text;
  }
}

.menu-niveau-2 {
  transform: translateX(-204px);

  &.in {
    transform: translateX(0);
  }

  .nav {
    > .menu-item {
      display: none;

      > a {
        display: none;
      }

      &.current-menu-item {
        display: block;

        &::before {
          display: none;
        }
      }
    }
  }

  .sub-menu {
    a {
      color: $color-navigation-2;
      padding-left: 30px;
      padding-right: 0;
    }

    .current {
      a {
        color: $color-text;
      }
    }

    > .menu-item {
      &:first-child,
      &:only-of-type {
        &::before {
          display: none;
        }
      }
    }
  }
}

.menu-niveau-1 {
  transform: translateX(204px);

  .nav {
    > .menu-item {
      &::before {
        right: 0;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }

  &.in {
    transform: translateX(0);
  }
}
