.primary-nav {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  .nav {
    a {
      text-transform: uppercase;
    }
  }

  .sub-menu {
    @include list-unstyled;
    display: none;
  }
}

.nav {
  > li {
    position: relative;

    > a {
      display: block;
      padding: 16px 18px 16px 0;

      &:hover {
        color: $color-blue-light;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 65px;
    }

    &:not(:first-of-type) {
      &::before {
        border-top: 1px solid $color-blue-light;
      }
    }
  }
}
