.menu-niveaux {
  height: 100%;
  max-width: 204px;
  position: fixed;
  top: 0;
  transition: transform .4s;
  z-index: 9;

  &.in {
    display: block;
  }

  &.menu-niveau-2 {
    left: 0;
  }

  &.menu-niveau-1 {
    right: 0;

    @include media-breakpoint-down(lg) {
      &,
      &.in {
        display: none;
      }
    }
  }

  .nav,
  .sub-menu {
    @include list-unstyled;
  }

  .nav {
    a {
      text-transform: uppercase;
    }
  }
}

.primary-nav {
  .sub-menu {    
    display: none;
  }
}

.sub-menu,
.nav {
  > li {
    position: relative;
    width: 100%;

    > a {
      display: block;
      transition: color .2s;

      &:hover {
        color: $color-blue-light;
      }
    }

    @include media-breakpoint-up(xl) {
      > a {
        padding: 16px 18px 16px 0;
      }

      @include menu-separator;
    }
  }
}

.sub-menu {
  > li > a:hover {
    color: $color-text;
  }

  @include media-breakpoint-down(lg) {
    a {
      padding-left: 16px;
      padding-right: 16px;

      &::before {
        background: url('../images/dot.png') no-repeat center;
        content: '';
        display: inline-block;
        height: 10px;
        width: 10px;
      }
    }

    .current a {
      &::before {
        background-image: url('../images/dot-active.png');
      }
    }
  }
}

.menu-niveau-2 {
  transform: translateX(-204px);

  &.in {
    transform: translateX(0);
  }

  .nav {
    > .menu-item {
      display: none;

      > a {
        display: none;
      }

      &.current-menu-item {
        display: block;

        &::before {
          display: none;
        }
      }
    }
  }

  .sub-menu {
    a {
      @include media-breakpoint-up(xl) {
        color: $color-navigation-2;
        padding-left: 30px;
        padding-right: 0;
      }
    }

    .current {
      a {
        color: $color-text;
      }
    }

    > .menu-item {
      &:first-child,
      &:only-of-type {
        &::before {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .menu-item-title {
      display: none;
    }
  }
}

.menu-niveau-1 {
  transform: translateX(204px);

  .menu-item {
    text-align: right;
  }

  .nav {
    > .menu-item {
      &::before {
        right: 0;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }

  &.in {
    transform: translateX(0);
  }
}
