.btn {
  color: $color-text;

  &:focus,
  &:active,
  &.active {
    box-shadow: none;
    outline: 0;
  }
}

.btn-outline-light {
  color: $color-text;
  font-size: 8px;
  font-weight: 100;
  text-transform: uppercase;

  .far {
    font-size: 16px;
    margin-left: 6px;
    vertical-align: middle;
  }

  &:hover {
    color: $color-blue;
  }

  &.btn-dark {
    background-color: $color-grey;

    &:hover {
      background-color: transparent;
      color: $color-text;
    }
  }
}
