.navbar-toggler {
  background-color: $navbar-toggler-background;
  padding: 24px 19px;
  position: fixed;
  right: 0;
  top: calc((100% - 56px) / 2);
  transition: transform .2s;
  z-index: 9;

  .bar-icon {
    border-top: 3px solid $color-blue-light;
    width: 27px;

    &:not(:first-of-type) {
      margin-top: 4px;
    }
  }

  &.out {
    // @include media-breakpoint-up(xl) {
    //   transform: translateX(70px);
    // }

    @include media-breakpoint-down(lg) {
      opacity: 0;
      transition: .2s;
    }
  }

  &:hover {
    .bar-icon {
      border-color: $color-text;
    }
  }

  @include media-breakpoint-up(xl) {
    .menu-in & {
      transform: translateX(70px);
    }
  }

  @include media-breakpoint-down(lg) {
    position: absolute;
    top: 0;
  }
}

.btn {
  &.scroll-down {
    color: $color-text;
    font-size: 8px;
    font-weight: 100;

    span {
      text-transform: uppercase;
    }

    .icon-wrap {
      display: inline-block;
      margin-top: 8px;

      &::before {
        content: url('../images/down.png');
      }
    }
  }
}

.gmnoprint {
  display: none;
}
