.navbar-toggler {
  background-color: darken($color-text, 100%);
  padding: 18px 15px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;

  .bar-icon {
    border-top: 2px solid #fff;
    width: 26px;

    &:not(:first-of-type) {
      margin-top: 6px;
    }
  }
}

.btn {
  &.scroll-down {
    color: $color-text;
    font-size: 8px;
    font-weight: 100;

    span {
      text-transform: uppercase;
    }

    .icon-wrap {
      display: inline-block;
      margin-top: 8px;

      &::before {
        content: url('../images/down.png');
      }
    }
  }
}

.gmnoprint {
  display: none;
}
