body {
  color: $color-text;
  font-family: $font-text;
  font-size: 10px;
  font-weight: 300;

  @include media-breakpoint-down(lg) {
    font-size: 13px;
  }
}

.one-page-content h2,
h1 {
  color: $color-text;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 16px;
  text-transform: uppercase;
}

h3,
.subtitle {
  @include subtitle;
}
